body {
	font-family: "Avenir";
	margin: 0px;
	
}

h1 {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	font-size: 20px;
	word-spacing: 10px;
}

h2 {
	letter-spacing: 1px;
	font-weight: 400;
}

#seeeds {

	text-align: center;
	border-radius: 100%;
	color: #55A000;
	margin: auto;

}

#seeeds p {
	font-size: 30px;
}

#wrapper {
	display: inline-flex;
	width: 100%;
}

#dig-footprint {
	width: 50%;
}

#env-footprint {
	width: 50%;
	margin: 0px;
}

#bg {
	position: fixed;
	width: 100vw;
	height: auto;
	z-index: -999;
}

header {
	box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
	position: fixed;
	width: 100%;
	height: 80px;
	background-color: white;
}

header img {
	width: 70px;
    height: auto;
    margin-left: 20px;
    margin-top: 5px;
}

#title {
    font-weight: 500;
    font-size: 40px;
    display: inline-block;
    font-family: "Avenir";
    margin-left: 10px;
    vertical-align: middle;
    height: 115px;
	}

#tagline {
    font-size: 20px;
    display: inline-block;
    font-family: "Avenir";
    margin-left: 20px;
    vertical-align: middle;
    height: 85px;
}

#accounts {
	padding-top: 100px;
	margin-left: 50px;
}



#accounts ul li img {
	width: 100px;
/*	height: 100px;*/
	padding-right: 40px;
	padding-bottom: 20px;
	padding-top: 20px;
}

#accounts ul {
	display: inline-flex;
	flex-wrap: wrap;
}


#events {
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	padding-top: 100px;
}

#events ul {
	display: inline-flex;
}

#events li {
	background-color: white;
	width: 50%;
	margin-right: 20px;
	box-shadow: 10px 15px 30px rgba(0,0,0,0.1);
	padding: 20px;
}

#events li:hover {
	box-shadow: 10px 15px 35px rgba(0,0,0,0.2);

}

ul {
	list-style: none;
	padding: 0px;
}

#accounts h2 {
	color: white;
}

#accounts h1 {
	color: white;
}

#accounts li {
	color: white;

}

button {
	outline: none;
	color: white;
	box-sizing: initial;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-family: Avenir;
    margin-right: 20px;
    border-radius: 50px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
}

button:hover {
	opacity: 0.8;
}

#login-wrapper {
	margin: 0 auto;
    width: 200px;
}

#login-wrapper img {
	margin-top: 50px; 
}

#steps li {
	width: 19%;
	padding: 20px;
	background-color: rgba(255,255,255,0.7);
	margin-right: 20px;
	height: 250px;
}

#steps h2 {
	margin: 0px;
}

.details {
	display: none;
	width: 140px;
	font-size: 15px;
	color: white;

}

